# Application
APP_PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=insurance_user
DB_PASSWORD=insurance_pass
DB_NAME=insurance_db

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_GROUP_ID=insurance-group
